
$green: #22912f;

.top-header {
    display: flex;
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    padding: 14px 29px 0px 29px;
    a {
        text-decoration-line: none;
    }
    header {
        color: $green;
        font-size: 21px;
        font-weight: 600;
    }
    li {
        padding: 7px;
        color: black;
        &:hover {
            border-bottom: 2px solid $green;
        }
    }
}

.heading-info { 
    width: 77%;
    padding: 14px 40px 0px 51px;

}

#input-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    h1 {
        color: $green;
        font-size: 20px;
        margin: 0px 30px 10px 0px;
        padding: 0px 0px 6px 0px;
        border-bottom: 3px solid $green;
        font-weight: 600;
    }
    button {
        font-family: sans-serif;
        border: 0;
        padding: 15px 0px 6px 0px;
        background-color: white;
        color: #22912f;
        font-size: 21px;
        font-weight: 600;
        outline: 0;
        &:hover {
            border-bottom: 4px solid $green;
        }
    }
}

.form-wrapper {
    max-width: 200px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    input {
        margin: 10px 0px 5px 0px;
    }
    label {
        margin: 15px 0px 0px 0px;
    }
    button {
        margin: 5px 0px 5px 0px;
    }
    input[type=number] {
        max-width: 50px;
        outline: none;
    }
}

.num-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#graph-wrapper {
    height: 500px;
    background-color: white;
}

.result-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        margin: 5px 0px 5px 0px;
    }
    h2 {
        margin: 5px 0px 5px 0px;
    }
    button {
        font-family: sans-serif;
        border: 0;
        padding: 15px 0px 6px 0px;
        background-color: white;
        color: #22912f;
        font-size: 21px;
        font-weight: 600;
        outline: 0;
        &:hover {
            border-bottom: 4px solid $green;
        }
    }
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    padding: 0px 50px 0px 50px;
}

#footer-text {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: sans-serif;
}