
$green: #22912f;


.top-header {
    display: flex;
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    padding: 14px 29px 0px 29px;
    a {
        text-decoration: none;
    }
    header {
        color: $green;
        font-size: 21px;
        font-weight: 600;
    }
    li {
        margin: 12px 0px 0px 9px;
        color: black;
        position: relative;
        border-bottom: 2px solid white;
        &:hover {
            color: $green;
            border-bottom: 2px solid $green;
        }

    }
}

.heading-info { 
    width: 84%;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

#input-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    h1 {
        color: $green;
        font-size: 20px;
        margin: 0px 30px 10px 0px;
        padding: 0px 0px 6px 0px;
        border-bottom: 3px solid $green;
        font-weight: 600;
    }
    button {
        font-family: sans-serif;
        border: 0;
        padding: 15px 0px 6px 0px;
        background-color: white;
        color: #22912f;
        font-size: 21px;
        font-weight: 600;
        outline: 0;
        &:hover {
            border-bottom: 4px solid $green;
        }
    }
}

.custom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        margin: 9px 0px 6px 0px;
    }
}

.form-wrapper {
    max-width: 200px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    input {
        margin: 8px 0px 5px 0px;
    }
    label {
        margin: 15px 0px 0px 0px;
    }
    button {
        margin: 5px 0px 5px 0px;
    }
    input[type=number] {
        max-width: 50px;
        outline: none;
    }
}

.custom-num-wrapper {
    display: flex;
    margin: 0px 2px 7px 0px;
    p {
        margin-top: 12px;
        margin-right: 6px;
    }
}

.num-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#graph-wrapper {
    height: 500px;
    background-color: white;
}

.result-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        margin: 5px 0px 5px 0px;
    }
    h2 {
        margin: 5px 0px 5px 0px;
    }
    button {
        font-family: sans-serif;
        border: 0;
        padding: 15px 0px 6px 0px;
        background-color: white;
        color: #22912f;
        font-size: 21px;
        font-weight: 600;
        outline: 0;
        &:hover {
            border-bottom: 4px solid $green;
        }
    }
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    padding: 0px 50px 0px 50px;
}

#footer-text {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: sans-serif;
}

.custom-rate-wrapper {
    margin: 7px 0px 0px 0px;
    label {
    margin: 0px 5px 0px 0px;
    }
}

.custom-time-wrapper {
    label {
    margin: 0px 5px 0px 0px;
    }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 9px;
  p {
    font-family: sans-serif;
    padding: 27px;
    line-height: 1.4;
   }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
    margin-bottom: 50px;
    text-decoration: none;
}